+docs-section('components-breadcrumbs', 'Breadcrumbs')

  p Breadcrumbs are used as navigational hierarchies to indicate current location.

  .docs-demo.columns
    .column.col-12
      ul.breadcrumb
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Home") Home
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Settings") Settings
    .column.col-12
      ul.breadcrumb
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Home") Home
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Settings") Settings
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Change avatar") Change avatar
    .column.col-12
      ul.breadcrumb
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Home") Home
        li.breadcrumb-item
          a.tooltip(href="#breadcrumbs" data-tooltip="Settings") Settings
        li.breadcrumb-item
          | Search result: 
          a.tooltip(href="#breadcrumbs" data-tooltip="Search result: Spectre") Spectre

  p
    | Add a container element with the #[code breadcrumb] class.
    | And add child elements with the #[code breadcrumb-item] class.

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Settings</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Change avatar</a>
          </li>
        </ul>