+docs-section('components-nav', 'Nav')

  .docs-demo.columns
    .column.col-6.col-xs-12
      ul.nav
        li.nav-item
          a(href="#nav") Elements
        li.nav-item.active
          a(href="#nav") Layout
          ul.nav
            li.nav-item
              a(href="#nav") Flexbox grid
            li.nav-item
              a(href="#nav") Responsive
            li.nav-item
              a(href="#nav") Navbar
            li.nav-item
              a(href="#nav") Empty states
        li.nav-item
          a(href="#nav") Components
        li.nav-item
          a(href="#nav") Utilities

  p
    | Add a container element with the #[code nav] class.
    | And add child elements with the #[code nav-item] class.
    | The #[code nav-item] with the #[code active] class will be highlighted.

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <ul class="nav">
          <li class="nav-item">
            <a href="#">Elements</a>
          </li>
          <li class="nav-item active">
            <a href="#">Layout</a>
            <ul class="nav">
              <li class="nav-item">
                <a href="#">Flexbox grid</a>
              </li>
              <li class="nav-item">
                <a href="#">Responsive</a>
              </li>
              <li class="nav-item">
                <a href="#">Navbar</a>
              </li>
              <li class="nav-item">
                <a href="#">Empty states</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#">Components</a>
          </li>
          <li class="nav-item">
            <a href="#">Utilities</a>
          </li>
        </ul>

