+docs-section('experimentals', 'Experimentals')

  p
    | The Experimentals include experimental elements and features, mostly are not yet ready for wide use.
    | These elements and components are limited inside #[code spectre-exp.scss] before browsers fully support them.
    | Sometimes, there are some specific browsers targeted components.