+docs-section('experimentals-progress', 'Progress')

  p The Progress indicates the progress completion of a task.

  .docs-demo.columns
    .column.col-3.col-xs-12
      progress.progress(value="75" max="100")
    .column.col-3.col-xs-12
      progress.progress(value="50" max="100")
    .column.col-3.col-xs-12
      progress.progress(value="25" max="100")
    .column.col-3.col-xs-12
      progress.progress(max="100")

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <progress class="progress" value="25" max="100"></progress>
        <progress class="progress" max="100"></progress>

