+docs-section('utilities-cursors', 'Cursor utilities')

  p Cursor utilities specify which mouse cursor to display when mouseover.

  .docs-demo.columns
    .column.col-4
      .bg-gray.docs-block.c-hand c-hand
    .column.col-4
      .bg-gray.docs-block.c-move c-move
    .column.col-4
      .bg-gray.docs-block.c-zoom-in c-zoom-in
    .column.col-4
      .bg-gray.docs-block.c-zoom-out c-zoom-out
    .column.col-4
      .bg-gray.docs-block.c-not-allowed c-not-allowed
    .column.col-4
      .bg-gray.docs-block.c-auto c-auto

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <!-- cursor: hand; -->
        <div class="c-hand"></div>
        <!-- cursor: move; -->
        <div class="c-move"></div>
        <!-- cursor: zoom-in; -->
        <div class="c-zoom-in"></div>
        <!-- cursor: zoom-out; -->
        <div class="c-zoom-out"></div>
        <!-- cursor: not-allowed; -->
        <div class="c-not-allowed"></div>
        <!-- cursor: auto; -->
        <div class="c-auto"></div>