+docs-section('utilities-display', 'Display utilities')

  p Display utilities are used for display and hidden things.

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <!-- display: block; -->
        <div class="d-block"></div>
        <!-- display: inline; -->
        <div class="d-inline"></div>
        <!-- display: inline-block; -->
        <div class="d-inline-block"></div>
        <!-- display: flex; -->
        <div class="d-flex"></div>
        <!-- display: inline-flex; -->
        <div class="d-inline-flex"></div>
        <!-- display: none; -->
        <div class="d-none"></div>
        <div class="d-hide"></div>
        <!-- visibility: visible; -->
        <div class="d-visible"></div>
        <!-- visibility: hidden; -->
        <div class="d-invisible"></div>
        <!-- hide text contents -->
        <div class="text-hide"></div>
        <!-- assistive text for screen reader -->
        <div class="text-assistive"></div>