+docs-section('utilities-loading', 'Loading')

  p
    | Loading indicator is used for loading or updating.
    | You can add the #[code loading] class to a container for loading status.

  .docs-demo.columns
    .column.col-12.text-center
      .loading

  p
    | Add the #[code loading-lg] class for large size.

  .docs-demo.columns
    .column.col-12.text-center
      .loading.loading-lg

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <!-- loading element -->
        <div class="loading"></div>
        <div class="loading loading-lg"></div>