+docs-section('utilities-shapes', 'Shape utilities')

  p Shape utilities are used for changing element shapes.

  .docs-demo.columns
    .column.col-6.text-center
      .bg-primary.text-light.docs-shape.s-rounded.centered
        | s-rounded
    .column.col-6.text-center
      .bg-primary.text-light.docs-shape.s-circle.centered
        | s-circle

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <!-- rounded element -->
        <div class="s-rounded"></div>
        <!-- circle element -->
        <div class="s-circle"></div>

