+docs-intro('start', 'Getting started')
  p
    strong Switch.css
    |  is a lightweight, responsive and CSS-only framework for fast static websites.
  p
    | Being a fork of Spectre.css, it provides basic styles for typography and
    | elements, flexbox based responsive layout system, pure CSS components and
    | utilities with best practice coding and consistent design language.