+docs-section('start-browsers', 'Browser support')
  p
    | Spectre uses
    |
    a(href='https://github.com/postcss/autoprefixer', target='_blank') Autoprefixer
    |
    | to make most styles compatible with earlier browsers and
    |
    a(href='https://necolas.github.io/normalize.css/', target='_blank') Normalize.css
    |
    | for CSS resets. Spectre is designed for modern browsers. For best compatibility, these browsers are recommended:
  ul
    li
      | Chrome #[small.label.label-success LAST 4]
    li
      | Microsoft Edge #[small.label.label-success LAST 4]
    li
      | Firefox #[small.label.label-success.text-uppercase Extended Support Release]
    li
      | Safari #[small.label.label-success LAST 4]
    li
      | Opera #[small.label.label-success LAST 4]
    li Internet Explorer 10+
  p
    | Spectre supports Internet Explorer 10+, but some HTML5 and CSS3 features are not perfectly supported by Internet Explorer.

