+docs-section('start-install', 'Installation')
  p
    | Download the compiled and minified
    |
    a(href='https://codeberg.org/swiso/switch/releases', target='_blank') Spectre CSS file
    |
    | (core ~10KB min+gzip):
  p
    a.btn.btn-primary(href='https://codeberg.org/swiso/switch/releases', target='_blank') Download Spectre.css
  p
    | Include #[code switch.css] located in #[strong /dist] in your website or
    | web app #[code head]. Also, you can add #[code spectre-icons.css] and
    | #[code spectre-exp.css] accordingly.

  //- install manually
  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <link rel="stylesheet" href="switch.min.css">
        <link rel="stylesheet" href="switch-exp.min.css">
        <link rel="stylesheet" href="switch-icons.min.css">