+docs-section('layout-hero', 'Hero')

  p
    | The Hero container shows key featured content or information.

  .docs-demo.columns
    .column
      .hero.bg-gray
        .hero-body
          h1 Hero title
          p This is a hero example

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <div class="hero bg-gray">
          <div class="hero-body">
            <h1>Hero title</h1>
            <p>This is a hero example</p>
          </div>
        </div>

  .docs-demo.columns
    .column
      .hero.hero-sm.bg-dark
        .hero-body
          h1 Hero title
          p This is a hero example

  .docs-demo.columns
    .column
      .hero.hero-lg.bg-primary
        .hero-body
          h1 Hero title
          p This is a hero example

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <div class="hero hero-sm bg-dark">
        ...
        <div class="hero hero-lg bg-primary">