title= title
meta(charset='utf-8')
meta(name='robots' content='index, follow')
meta(name='HandheldFriendly' content='true')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='x-ua-compatible' content='ie=edge,chrome=1')
meta(name='description' content= description)
link(rel='shortcut icon' href='img/favicons/favicon.ico')
link(rel='icon' href='img/favicons/favicon.png')
link(rel='stylesheet' href='spectre.min.css')
link(rel='stylesheet' href='spectre-icons.min.css')
link(rel='stylesheet' href='spectre-exp.min.css')
link(rel='stylesheet' href='index.css')