mixin docs-accordion(id, name, ...pages)
  .accordion
    input(id='nav-' + id type='radio' name='nav-accordion' hidden='')
    label.accordion-header.c-hand(for='nav-' + id)
      strong= name
    .accordion-body
      ul.menu.menu-nav
        each page in pages
          li.menu-item
            a(href='#' + id + '-' + page.id)= page.name

+docs-accordion(
  'start',
  'Getting started',
  {id: 'install', name: 'Installation'},
  {id: 'custom', name: 'Custom version'},
  {id: 'browsers', name: 'Browser support'}
)
+docs-accordion(
  'elements',
  'Elements',
  {id: 'typography', name: 'Typography'},
  {id: 'tables', name: 'Tables'},
  {id: 'buttons', name: 'Buttons'},
  {id: 'forms', name: 'Forms'},
  {id: 'icons', name: 'Icons.css'},
  {id: 'labels', name: 'Labels'},
  {id: 'code', name: 'Code'},
  {id: 'media', name: 'Media'}
)
+docs-accordion(
  'layout',
  'Layout',
  {id: 'grid', name: 'Flexbox grid'},
  {id: 'responsive', name: 'Responsive'},
  {id: 'hero', name: 'Hero'},
  {id: 'navbar', name: 'Navbar'}
)
+docs-accordion(
  'components',
  'Components',
  {id: 'accordions', name: 'Accordions'},
  {id: 'avatars', name: 'Avatars'},
  {id: 'badges', name: 'Badges'},
  {id: 'bars', name: 'Bars'},
  {id: 'breadcrumbs', name: 'Breadcrumbs'},
  {id: 'cards', name: 'Cards'},
  {id: 'chips', name: 'Chips'},
  {id: 'empty', name: 'Empty states'},
  {id: 'menu', name: 'Menu'},
  {id: 'modals', name: 'Modals'},
  {id: 'nav', name: 'Nav'},
  {id: 'pagination', name: 'Pagination'},
  {id: 'panels', name: 'Panels'},
  {id: 'popovers', name: 'Popovers'},
  {id: 'steps', name: 'Steps'},
  {id: 'tabs', name: 'Tabs'},
  {id: 'tiles', name: 'Tiles'},
  {id: 'toasts', name: 'Toasts'},
  {id: 'tooltips', name: 'Tooltips'}
)
+docs-accordion(
  'utilities',
  'Utilities',
  {id: 'colors', name: 'Colors'},
  {id: 'cursors', name: 'Cursors'},
  {id: 'display', name: 'Display'},
  {id: 'divider', name: 'Divider'},
  {id: 'loading', name: 'Loading'},
  {id: 'position', name: 'Position'},
  {id: 'shapes', name: 'Shapes'},
  {id: 'text', name: 'Text'}
)
+docs-accordion(
  'experimentals',
  'Experimentals',
  {id: 'viewer-360', name: '360-Degree Viewer'},
  {id: 'autocomplete', name: 'Autocomplete'},
  {id: 'calendars', name: 'Calendars'},
  {id: 'carousels', name: 'Carousels'},
  {id: 'comparison', name: 'Comparison sliders'},
  {id: 'filters', name: 'Filters'},
  {id: 'meters', name: 'Meters'},
  {id: 'off-canvas', name: 'Off-canvas'},
  {id: 'parallax', name: 'Parallax'},
  {id: 'progress', name: 'Progress'},
  {id: 'sliders', name: 'Sliders'},
  {id: 'timelines', name: 'Timelines'}
)