mixin docs-intro(id, name)
  section(id=id)
    h1.p-sticky.bg-light.pl-1.z-1
      a(href='#'+id aria-hidden='true').text-italic.pr-1= "#"
      |
      | #{name}
    if block
      block

mixin docs-section(id, name)
  section(id=id)
    h2.p-sticky.bg-light.py-2.z-2
      a(href='#'+id aria-hidden='true').text-italic.px-1= "#"
      |
      | #{name}
    if block
      block

mixin docs-subsection(id, name)
  section(id=id)
    h2.p-sticky.bg-light.py-2.z-3
      a(href='#'+id aria-hidden='true').text-italic.px-2= "#"
      |
      | #{name}
    if block
      block

include sections/index.pug

article
  include sections/start/_intro.pug
  include sections/start/install.pug
  include sections/start/custom.pug
  include sections/start/browsers.pug

articles
  include sections/elements/_intro.pug
  include sections/elements/typography.pug
  include sections/elements/tables.pug
  include sections/elements/buttons.pug
  include sections/elements/forms.pug
  include sections/elements/icons.pug
  include sections/elements/labels.pug
  include sections/elements/code.pug
  include sections/elements/media.pug

articles
  include sections/layout/_intro.pug
  include sections/layout/grid.pug
  include sections/layout/hero.pug
  include sections/layout/navbar.pug
  include sections/layout/responsive.pug

article
  include sections/components/_intro.pug
  include sections/components/accordions.pug
  include sections/components/avatars.pug
  include sections/components/badges.pug
  include sections/components/bars.pug
  include sections/components/breadcrumbs.pug
  include sections/components/cards.pug
  include sections/components/chips.pug
  include sections/components/empty.pug
  include sections/components/menu.pug
  include sections/components/modals.pug
  include sections/components/nav.pug
  include sections/components/pagination.pug
  include sections/components/panels.pug
  include sections/components/popovers.pug
  include sections/components/steps.pug
  include sections/components/tabs.pug
  include sections/components/tiles.pug
  include sections/components/toasts.pug
  include sections/components/tooltips.pug

article
  include sections/utilities/_intro.pug
  include sections/utilities/colors.pug
  include sections/utilities/cursors.pug
  include sections/utilities/display.pug
  include sections/utilities/divider.pug
  include sections/utilities/loading.pug
  include sections/utilities/position.pug
  include sections/utilities/shapes.pug
  include sections/utilities/text.pug

article
  include sections/experimentals/_intro.pug
  include sections/experimentals/autocomplete.pug
  include sections/experimentals/calendars.pug
  include sections/experimentals/carousels.pug
  include sections/experimentals/comparison.pug
  include sections/experimentals/filters.pug
  include sections/experimentals/meters.pug
  include sections/experimentals/off-canvas.pug
  include sections/experimentals/parallax.pug
  include sections/experimentals/progress.pug
  include sections/experimentals/sliders.pug
  include sections/experimentals/timelines.pug
  include sections/experimentals/viewer-360.pug