block global
  - var title = 'Switch.css - A Lightweight, Responsive and CSS-only Framework'
  - var description = 'Switch.css CSS Framework is a lightweight, responsive and CSS-only framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

doctype html
html(lang='en')
  head
    include _head.pug

  body
    .off-canvas.off-canvas-sidebar-show
      #header.p-fixed.bg-light.z-4
        a(href='#sidebar').off-canvas-toggle.btn.btn-primary.btn-action
          i.icon.icon-menu

      aside#sidebar.off-canvas-sidebar
        #logo.p-fixed.text-center
          img(src='img/spectre-logo.svg' alt='Switch.css CSS Framework')
        nav#navigation.p-fixed.px-2.py-1
          include _navigation.pug

      a(href='#close').off-canvas-overlay

      main#content.off-canvas-content.p-0
        .container.grid-lg
          include _sections.pug