// Breadcrumbs
.breadcrumb {
    list-style: none;
    margin: $unit-1 0;
    padding: $unit-1 0;

    .breadcrumb-item {
        color: $gray-color-dark;
        display: inline-block;
        margin: 0;
        padding: $unit-1 0;

        &:not(:last-child) {
            margin-right: $unit-1;

            a {
                color: $gray-color-dark;
            }
        }

        &:not(:first-child) {
            &::before {
                color: $gray-color-dark;
                content: "/";
                padding-right: $unit-2;
            }
        }
    }
}
