section.hero
  #overview.text-center.hero-body
    .docs-brand
      a.docs-logo(href='index.html')
        img(src='img/spectre-logo.svg' alt='Switch.css Framework')
        h2 SWITCH.CSS
    h3
      | A #[i Lightweight], #[i Responsive] #[br]
      | and #[i CCS-only] Framework
    p
      a.btn.btn-primary.btn-lg.mr-2(href='#start') Docs
      a.btn.btn-secondary.btn-lg(href='https://codeberg.org/swiso/switch' target='_blank') Source

section.hero
  #features.text-center.hero-body
    .columns
      .column.col-4.col-xs-12
        .card.text-center
          .card-header
            span.card-title Lightweight
          .card-body
            | Lightweight  (~10KB gzipped) starting point for your projects
      .column.col-4.col-xs-12
        .card.text-center
          .card-header
            span.card-title Responsive
          .card-body
            | Flexbox-based, responsive and mobile-friendly layout
      .column.col-4.col-xs-12
        .card.text-center
          .card-header
            span.card-title Modern
          .card-body
            | Elegantly designed and developed elements and components

section.hero
  .hero-body.text-center
    h2 Introduction
    .columns
      .column.col-10.col-sm-12.col-mx-auto.text-left
        p
          | #[strong Switch.css] is a lightweight, responsive and CSS-only
          | framework for faster and extensible static websites.
        p
          | Switch.css provides basic styles for typography and elements,
          | flexbox based responsive layout system, pure CSS components and
          | utilities with best practice coding and consistent design language.
      .column.col-10.col-sm-12.col-mx-auto
        a.btn.btn-lg(href='#start-install') Install Switch.css